# Gradle files
.gradle/
build/
/build

# Local configuration file (SDK path, etc.)
local.properties
/local.properties

# Android Studio / IntelliJ
.idea/
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

*.iml
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Build outputs
captures/
/captures
.externalNativeBuild/
.externalNativeBuild
.cxx/
.cxx

*.aab
*.apk
output-metadata.json

# Logs
*.log

# Keystore files
*.jks
*.keystore

# Google Services
google-services.json

# Android Profiling
*.hprof

# macOS
.DS_Store